@font-face {
    font-family: Gopher;
    src: url(Gopher-Black.ttf);
}

@font-face {
    font-family: GopherLight;
    src: url(Gopher-Light.ttf);
}

html, body {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.main-container {
    display: flex;
}

.sidebar {
    width: 20%;
    height: 100vh;
    background-color: rgb(255, 193, 50);
    gap: 8px;
}

.logo-section {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 15px;
}

.app-name {
    font-family: Gopher, Arial;
    font-size: 30px;
    cursor: pointer;
}

.tasks, .sidebar, .projects {
    display: flex;
    font-size: 20px;
    flex-direction: column;
    padding: 10px;
}

.tasks, .projects {
    gap: 10px;
}

.heading {
    font-family: Gopher, Arial;
    font-weight: bold;
}

.heading-section {
    display: flex;
    justify-content: space-between;
}

.today, .upcoming, .project {
    padding-left: 10px;
    font-family: GopherLight, Arial;
    cursor: pointer;
}

.project {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-delete, #search, #new-project, #edit-task, #delete-task {
    all: unset;
    cursor: pointer;
}

#search, #new-project, #new-task {
    cursor: pointer;
}

.project-delete, #new-project {
    display: flex;
    align-items: center;
}

.project-delete {
    visibility: hidden;
}

.project:hover .project-delete {
    visibility: visible;
}

.content {
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    padding: 20px;
    align-items: center;
    gap: 20px;
}

.search-section {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 87%;
}

#search-task {
    border-radius: 12px;
    font-size: 20px;
    width: 90%;
    padding: 8px;
    font-family: GopherLight, Arial;
    border: 2px solid black;
}

#search-task:focus {
    border: 2px solid rgb(50, 122, 255);
    outline: none;
}

#new-task, #add-task, #add-task-cancel, #new-project-dialog-options-new-project-cancel, #new-project-dialog-options-new-project {
    font-family: Gopher, Arial;
    padding: 10px;
    font-size: 25px;
    border-radius: 10px;
    background-color: rgb(255, 193, 50);
    border: none;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 80%;
}

.project-title {
    font-family: Gopher, Arial;
    font-size: 50px;
    padding: 8px 0px 0px 35px;
}

dialog {
    border: none;
    border-radius: 10px;
}

.add-task-dialog[open], .new-project-dialog[open] {
    position: fixed; 
    padding: 25px;
    top: 50%; 
    bottom: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    font-family: GopherLight, Arial;
    background-color: rgb(255, 193, 50);
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.65);
}

.details {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.upper {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.lower {
    display: flex;
    gap: 25px;
}

.title, .description, .duedate, .priority, .new-project-dialog-name-section {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    gap: 5px;
}

.title label, .description label, .duedate label, .priority label, .new-project-dialog-name-section label {
    font-weight: bold;
}

#title, #description, #duedate, #priority, #new-project-dialog-name {
    font-size: 25px;
    border: 2px solid black;
    font-family: GopherLight, Arial;
    border-radius: 10px;
    padding: 8px;
}

#title:focus, #description:focus, #duedate:focus, #priority:focus, #new-project-dialog-name:focus {
    border: 2px solid rgb(50, 122, 255);
    outline: none;
}

.add-task-options, .new-project-dialog-options {
    display: flex;
    justify-content: center;
    gap: 16px;
}

#add-task, #new-project-dialog-options-new-project {
    background-color: rgb(50, 122, 255);
    color: white;
    cursor: pointer;
}

#add-task:disabled, #new-project-dialog-options-new-project:disabled {
    background-color: rgba(50, 122, 255, 0.75);
    color: white;
    cursor: not-allowed;
}

#add-task-cancel, #new-project-dialog-options-new-project-cancel {
    background-color: red;
    cursor: pointer;
    color: white;
}

.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-left: 35px;
    margin-right: 225px;
    border: 2px solid black;
    font-family: GopherLight;
    border-radius: 10px;
}

.task:hover .task-options {
    visibility: visible;
}

.task-data {
    display: flex;
    gap: 10px;
}

.mark {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="checkbox"] {
    appearance: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border: 2px solid black;
    border-radius: 50%;
}

input[type="checkbox"]:hover {
    background-color: green;
    border: none;
}

.task-title {
    font-weight: bold;
    font-size: 22px;
}

.task-duedate {
    font-size: 20px;
    color: grey;
}

.task-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
}

.task-options {
    visibility: hidden;
    display: flex;
    gap: 16px;
    align-items: center;
}